/* Police de base */
body {
    font-family: 'Roboto', sans-serif; /* Application de la nouvelle police */
    margin: 0;
    padding: 0;
    background-color:   #f9e2fd;
    transition: background-color 0.3s ease;
}

/* Bandeau du titre et onglets collés avec un dégradé */
.header {
    background: linear-gradient(to bottom, #41114b,  #51155d); /* Dégradé de couleur */
    color: white;
    text-align: center;
    padding: 25px 0;
    margin: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header h1 {
    margin: 0;
    font-size: 3em;
    letter-spacing: 2px;
    font-weight: bold;

}

/* Onglets */
.tabs-container {
    background: linear-gradient(to bottom,  #51155d,  #5c1d68); /* Dégradé entre le bandeau et les onglets */
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tabs {
    display: flex;
}

.tab {
    padding: 14px 25px;
    cursor: pointer;
    background-color: #8a5295;
    margin: 0 10px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.tab:hover {
    background-color: #597b9a;
}

.active {
    background-color: #8a5295 ;
}

/* Contenu des onglets */
.tab-content {
    display: none;
    padding: 30px;
    background-color: #f9e2fd ;
    border-top: 2px solid  #5c1d68;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin-top: -1px;
}

.tab-content.active {
    display: block;
	color: #41114b;
}

/* Sections alignées sous forme de blocs */
.section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.section:hover {
    background-color: #f9e2fd ;
}

.section h2 {
    margin-top: 0;
    color: #5c1d68 ;
    font-size: 1.5em;
}

/* Ajout des taquets sous forme de listes avec des puces */
ul {
    list-style-type: disc;
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

/* Fenêtres Sources et Littérature */
#tab2, #tab3 {
    padding: 20px;
    background-color:  #f9e2fd ;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

#tab2 h1, #tab3 h1 {
    font-size: 2em;
    color: #3b0546;
}

/* Réactivité pour les petits écrans */
@media (max-width: 768px) {
    .header h1 {
        font-size: 2.2em;
    }

    .tab {
        padding: 12px 20px;
        font-size: 0.9em;
    }

    .section {
        padding: 15px;
    }

    .tabs {
        flex-direction: column;
    }
}

